:root {
    --header-color: #696969;
    --header-icon-bg: #9a7a7f;
    --principal-bg: #f3f3f3;
    --select-bg: #b23e51;
    --unselected-bg: #b97681;

    --banner-h: 110px;
    --banner-b: 400px;
}

/* #b9cad1 */
